*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent{
    width: 95%;
    height: 90%;
    /* border: 2px solid red; */
    display: flex;


}
.child1{
    width: 33%;
    height: 100%;
    /* border: 2px solid green; */
    background-color: #e38826;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}
.top{
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
}
.circle{
    width: 10%;
    height: 30%;
    /* border: 2px solid green; */
    border-radius: 50%;

    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.middle{
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
}
.middle1{
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
}
.bottom{
    width: 80%;
    height: 25%;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.child{
    width: 50%;
    height: 50%;
    /* border: 2px solid rgb(23, 40, 23); */
    border-radius: 50rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child2{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid green; */
    background-color: #006970;
}
.child3{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid green; */
    background-color: #004241;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}